body{
    background-color: #75DBCD;
}
 #ingredientCollection input{
    background-color: #75DBCD;
     align-content: center;
    pointer-events: none; 
    border: none;
    margin-left: 10px;
    margin-right: px;
    width: auto;
    padding: none;
    
}
#ingredientCollection{
    display: flex;
    flex-direction: row;
  width: fit-content;
    flex-wrap: wrap;
}
select{
    background-color: #75DBCD;
    margin-right: 10px;
}
textarea, #name{
    border-radius: 10px;
    width: auto;
    background-color:#75DBCD ;
}
#ingredientgen{
    border: 2px solid dimgray;
    border-radius: 10px;
    margin-bottom: 20px;
}
label{
    font-size: medium;
    color: black;
}
#recipeNameHp{
    font-size: x-large;
    color: black;
}
#recipeDateHp{
    margin-bottom: none;

}
#recipeInstructionsHp{
    background-color:#C9DBBA;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: none;
}
#buttons,#submitRecipe,#addIngredient{
    height: auto;
    padding: 2px;
}