<body>
  <nav>
    <%- include ('../partials/nav.ejs') %>
  </nav>
  <div class="container">
    <h3>View Ingredients</h3>
    <% ingredients.sort((a, b) => a.name.localeCompare(b.name));%>
    <ul>
      <% for (let ingredient of ingredients ) { %>
      <li>
        <a href="/ingredients/<%=ingredient.id%>">
          <%= ingredient.name %>
      </li>
      <% } %>
    </ul>
  </div>
</body>