<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body>
  <nav>
    <%- include ('../partials/nav.ejs') %>
  </nav>
  <div class="container">
    <h3>Add Ingredients</h3>
    <form action="/ingredients" method="POST">
      <label for="name">Ingredient Name:</label>
      <input type="text" name="name" id="name" required />
      <input type="submit" value="Add">
      <form>
  </div>
</body>

</html>